@model FinalProject.Models.MediaCommentViewModel

@{
    ViewBag.Title = "MovieDetails";
}

<body dir="rtl">
<div class="site-content">
    <div class="row media-details-row">
        <div class="col-md-6 image-column">
            <img src="data:image/png;base64,@Html.DisplayFor(item => item.Media.Image)"/>
        </div>
        <div class="col-md-6 media-content">
            <h1>@Html.DisplayFor(item => item.Media.HebrewTitle)</h1>
            <h4>@Html.DisplayFor(item => item.Media.EnglishTitle)</h4>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Length):</b>
                @Html.DisplayFor(item => item.Media.Length) דקות
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Directors):</b>
                @Html.DisplayFor(item => item.Media.Directors)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Producers):</b>
                @Html.DisplayFor(item => item.Media.Producers)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Producers):</b>
                @Html.DisplayFor(item => item.Media.Producers)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Actors):</b>
                @Html.DisplayFor(item => item.Media.Actors)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.ReleaseDate):</b>
                @Html.DisplayFor(item => item.Media.ReleaseDate.Year)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Category):</b>
                @Html.DisplayFor(item => item.Media.Category)
            </div>
            <div class="row">
                <b> @Html.LabelFor(item => item.Media.Summery):</b>
                @Html.DisplayFor(item => item.Media.Summery)
            </div>
        </div>

    </div>
    <div class="row comments-content">
        <div class="col-md-6">
            <h3>הוסף תגובה:</h3>
            @using (Html.BeginForm("AddComment", "Media", FormMethod.Post, new {comment = Model.Comment}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(item => item.Comment.MediaId)
                <div class="form-horizontal" style="padding-right: 15px;">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Comment.Title, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Comment.Title)
                            </div>
                            <div class="col-md-2">
                                @Html.DisplayNameFor(model => Model.Comment.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Comment.Content, new {@cols = 37})
                                @Html.ValidationMessageFor(model => model.Comment.Content)
                            </div>
                            <div class="col-md-2">
                                @Html.DisplayNameFor(model => Model.Comment.Content)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="submit" value="הוסף תגובה" id="btnComment" class="btn site-btn" name="@Session["LoggedinUserName"]">
                        <label class="label label-primary" id="CommentError">שים לב! רק משתמשים מחוברים יכולים להגיב</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h3>תגובות:</h3>
            @foreach (var comment in Model.Media.Comments)
            {
                @Html.HiddenFor(item => comment.Id)
                <div class="comment-design">
                    <div class="row">
                        <div class="col-md-12 comment-time-user">@Html.DisplayFor(item => comment.Date) - @Session["LoggedinUserName"] </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>@Html.DisplayFor(item => comment.Title)</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 comment-content-size">
                            @Html.DisplayFor(item => comment.Content)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")

        <script language="javascript" type="text/javascript">

            if (document.getElementById("btnComment").name === "") {
                document.getElementById("btnComment").disabled = true;
            }
        </script>
    }
</body>



