@model IEnumerable<FinalProject.Models.IMedia>

<body dir="rtl">
    <div class="site-content">
        <div class="row" style="height: 100%">
            <div class="col-md-6 content-column">
                @foreach (var media in Model)
                {
                    if (media is FinalProject.Models.Movie)
                    {
                        @Html.HiddenFor(item => media.Id)
                        <div class="row content-row">
                            <div class="col-md-3">@Html.DisplayFor(item => media.ReleaseDate.Year)</div>
                            <div class="col-md-5">
                                @Html.ActionLink(media.HebrewTitle, "GetMovie", new { id = media.Id })
                                
                            </div>
                            <div class="col-md-4"><img style="width:100%" src="data:image/png;base64,@Html.DisplayFor(item => media.Image)" /></div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                @foreach (var media in Model)
                {
                    if (media is FinalProject.Models.Series)
                    {
                        <div class="row content-row">
                            <div class="col-md-3">@Html.DisplayFor(item => media.ReleaseDate.Year)</div>
                            <div class="col-md-5">@Html.DisplayFor(item => media.HebrewTitle)</div>
                            <div class="col-md-4"><img src="data:image/png;base64,@Html.DisplayFor(item => media.Image)" /></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>