@model FinalProject.Models.Movie

@{
    ViewBag.Title = "AddMovie";
}


<html lang="he">

<body dir="rtl">
    <h2>הוספת סרט</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.HebrewTitle)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.HebrewTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HebrewTitle)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.EnglishTitle)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EnglishTitle)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReleaseDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Category)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Category)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Producers)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Producers, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Producers)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Directors)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Directors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Directors)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Actors)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Actors, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Actors)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Length)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Length)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Summery)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Summery, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Summery)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Image)
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8">
                    <input type="submit" value="הוסף" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
