@model FinalProject.Models.User

@{
    ViewBag.Title = "SignIn";
}


<body dir="rtl">
<div class="container">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            <fieldset>
                <legend>התחברות</legend>
                <div class="editor-label">
                    @Html.LabelFor(u => u.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.UserName, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(u => u.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <input type="submit" value="התחבר" class="btn site-btn" />
            </fieldset>
        </div>
    }
    <div>
        @Html.ActionLink("אין לך משתמש ? הירשם עכשיו", "Register")
    </div>
</div>
</body>